*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: rgb(35, 155, 192);
}

main{
    position: relative;
}

div{
    width: 100%;
    height: auto;
    padding: 15px;
}

.box {
    width: 20%;
    height: 250px;
    background-color: #fff;
    border-radius: 16px;
}

.h1-padding{
    padding-bottom: 10px;
}

.btn-close {
    background-color: #fff;
    border: none;
    font-size: 20px;
    position: relative;
    bottom: 130px;
    left: 330px;
}

.btn-close:hover{
    color: red;
    cursor: pointer;
}

footer{
    text-align: center;
    font-size: 20px;
    color: #fff;
    position: sticky;
    top: 95%;
}